.gamearea {
   margin-top: 2vh;
   background-image: url("../assets/images/background3.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

.opponentRow1{
    height: 18vh;
    margin: 0;
}
.opponentRow2{
    height: 22vh;
    margin: 0;
}

.opponentPlayedCardsArea {
    display: flex;
    justify-content: center;
    height: 22vh;
    margin: 0;

}

.opponentPlayedCards{
    height: 20vh;
    width: 90%;
    margin:auto;    
  
}

.opponentHand{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vh;
    width: 80%;
    margin:auto;
    background-image: url("../assets/images/opponent-background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:5%;
}

.opponentCard {
    height: 13vh;
    width: 10vh;
    margin-right: 5px;
}

.userRow1 {
    height: 22vh;
    margin: 0;
}

.userRow2 {
    height: 18vh;
    margin: 0;
}

.resourceArea {
    height: 22vh;
    margin: 0;
    background-image: url("../assets/images/resource-background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:5%;
}

.userPlayedCardsArea {
    display: flex;
    justify-content: center;
    height: 22vh;
    margin: 0;

}

.userPlayedCards {
    height: 20vh;
    width: 90%;
    margin:auto;  
    display: flex;
    justify-content: center;
    align-items: center;  

}

.userHandArea {
    height: 18vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}

.userHand {
    height: 17vh;
    width: 80%;
    margin:auto;
   /*  margin-top: 0;*/
    margin-bottom: 0; 
    background-image: url("../assets/images/player-background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5%;
}

.userCard {
    height: 13vh;
    width: 10vh;
    margin-right: 5px;
}

.userAvatar {
    height: 20vh;
    margin-right: 5px;
    border-radius: 50%;
    align-self: flex-end;
}

.opponentAvatar {
    height: 20vh;
    margin-right: 5px;
    border-radius: 50%;
    align-self: flex-start;
}

.opponentHand .hp {
    font-size: 20px;
    font-family: 'Futura';
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
    margin-right: 5vw;
    text-align: center;
}

.userHand .hp {
    font-size: 20px;
    font-family: 'Futura';
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px lime, 0 0 30px lime, 0 0 40px lime, 0 0 55px lime, 0 0 75px lime;
    margin-right: 5vw;
    text-align: center;
}