.gamearea {
   margin-top: 2vh;
   background-image: url("../assets/images/background3.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

.opponentRow1{
    height: 18vh;
    margin: 0;
}
.opponentRow2{
    height: 22vh;
    margin: 0;
}

.opponentPlayedCardsArea {
    display: flex;
    justify-content: center;
    height: 22vh;
    margin: 0;
}

.opponentPlayedCards{
    height: 20vh;
    width: 90%; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.opponentHand{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vh;
    width: 80%;
    margin:auto;
    background-image: url("../assets/images/opponent-background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:5%;
}

.opponentCard {
    height: 13vh;
    width: 10vh;
    margin-right: 5px;
}

.userRow1 {
    height: 22vh;
    margin: 0;
}

.userRow2 {
    height: 18vh;
    margin: 0;
}

.resourceArea {
    height: 22vh;
    margin: 0;
    background-image: url("../assets/images/resource-background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:5%;
}

.userPlayedCardsArea {
    display: flex;
    justify-content: center;
    height: 21vh;
    margin: 0;

}

.userPlayedCards {
    height: 20vh;
    width: 90%;
    display: flex;
    justify-content: center;
}

.userHandArea {
    height: 19vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.userHand {
    height: 19vh;
    width: 80%;
    margin:auto;
    margin-bottom: 0; 
    background-image: url("../assets/images/player-background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5%;
}

.userCard {
    height: 13vh;
    width: 10vh;
    margin-right: 5px;
}

.handCardImage {
    height: 16vh;
    width: 12vh;
    margin-right: 5px;
}

.card-content {
    margin: 0;
    padding: 0;
}

.card-title p{
    font-size:5px;
}

.userAvatar {
    height: 20vh;
    margin-right: 5px;
    border-radius: 50%;
    align-self: flex-end;
}

.opponentAvatar {
    height: 20vh;
    margin-right: 5px;
    border-radius: 50%;
    align-self: flex-start;
}

.opponentHand .hp {
    font-size: 20px;
    font-family: 'Futura';
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
    margin-right: 5vw;
    text-align: center;
}

.opponentPlayedCardStats {
    font-size: 14px;
    font-family: 'Futura';
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
    text-align: center;
}

.userHand .hp {
    font-size: 20px;
    font-family: 'Futura';
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px lime, 0 0 30px lime, 0 0 40px lime, 0 0 55px lime, 0 0 75px lime;
    margin-right: 5vw;
    text-align: center;
}

.userPlayedCardStats {

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px lime, 0 0 30px lime, 0 0 40px lime, 0 0 55px lime, 0 0 75px lime;
    text-align: center;
}

.userHandStats {
    font-size: 12px;
    font-family: 'Futura';
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px lime, 0 0 30px lime, 0 0 40px lime, 0 0 55px lime, 0 0 75px lime;
    text-align: center;
}

.playedCard {
    height: 16vh;
    width: 12vh;
    margin-right: 5px;
    animation-name: example;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  @keyframes example {
    from {height: 0px; width: 0px;}
    to {height: 13vh;; width: 10vh;}
  }