.singularityButton {
    background-color: #a70808 !important;
}

.singularityButton:hover {
    background-color: #72afe4 !important;
}

.singularityButton:focus{
    background-color: #6091bd !important;
}